
@{
    ViewBag.Title = "GetStudentCourses";
}

<h2>GetStudentCourses</h2>

<h3>Course List as Ordered List:</h3>
<ol>
    @foreach (var item in ViewBag.Courses)
    {
            <li>@item</li>
    }
</ol>

<h3>Course List in Dropdown:</h3>
@Html.DropDownList("Courses",new SelectList(ViewBag.Courses), "---Select Course---")




